<div class="container">
    <section class="product-detail-container">
        <figure class="product-image">
            <img class="image" src="assets/images/product-test.jpg" alt="Nombre del producto">
        </figure>
        <div class="product-details">
            <h1 class="name-product">Nombre del Producto</h1>
            <p class="price-product">$99.99</p>
            <div class="other-colors">
                <h3>Colores disponibles:</h3>
                <div class="color-options">
                  <div
                    *ngFor="let color of colors"
                    [ngStyle]="{ 'background-color': color }"
                    [class.selected]="selectedColor === color"
                    (click)="selectColor(color)"
                    [title]="colorTitles[color]"
                  ></div>
                </div>
              </div>
              
            <div class="sizes-products">
                <h3>Tallas disponibles:</h3>
                <p>
                  <span
                    *ngFor="let size of sizes"
                    [class.selected]="selectedSize === size"
                    (click)="selectSize(size)"
                  >
                    {{ size }}
                  </span>
                </p>
              </div>
            <div class="buttons">
                <button class="add-to-cart">Añadir al carrito</button>
                <button class="add-to-wish"><img src="assets/icons/favorite.svg" /></button>
            </div>
            <div class="details">
                <h3>Detalles del Producto</h3>
                <p>Descripción detallada del producto aquí.</p>
            </div>
        </div>
    </section>
    <aside class="similar-products">
        <h2>Productos similares</h2>
        <div class="product-carousel" (scroll)="onScroll($event)">
          <div
            *ngFor="let product of displayedProducts"
            class="product-item"
          >
            {{ product }}
          </div>
        </div>
      </aside>
      
</div>
