<!-- Component: ProductsPageComponent -->
<div class="container">
    <div class="title-section">
        <p class="style-selected">NOMBRE ESTILO</p>
    </div>
    <div class="main-content">
        <!-- Filtros -->
        <div class="filter-section">
          <h2>Filtros</h2>
        </div>
    
        <!-- Productos -->
        <div class="product-section">
          <!-- Búsqueda -->
          <div class="search-section">
            <h2>Buscar</h2>
            <input 
              type="text" 
              placeholder="Buscar productos..." 
            />
          </div>
    
          <!-- Lista de productos -->
          <div class="product-list-section">
            <h2>Lista de productos</h2>
          </div>
        </div>
      </div>
</div>