/* Contenedor principal */
.container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin-top: 60px;

  }
  
  /* Título */
  .title-section {
    text-align: left;
    padding: 10px 10px;
    background-color: #fff;
  }
  
  /* Contenido principal */
  .main-content {
    display: flex;
    gap: 20px;
  }
  
  /* Filtros */
  .filter-section {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #fff;
    padding: 15px;
    row-gap: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Sección de productos */
  .product-section {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* Búsqueda */
  .search-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
  }
  
  /* Lista de productos */
  .product-list-section {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
    column-gap: 1px;
  }


  /*filter menu*/
  .filter-menu {
    display: none;
    font-size: 1.5rem;
    background: none; 
    border: none;
    cursor: pointer;
  }

  .menu-overlay {
    position: fixed;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    z-index: 1000;
    padding-top: 60px;
  }

  .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    background-color: #fff;
  }
  
  .close-icon:hover {
    color: red;
  }

  .quantity {
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
  }

  .separator {
    border: 1px solid #eeebf0;

  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .main-content {
      flex-direction: column; /* Cambiar a una columna para pantallas pequeñas */
    }
  
    .filter-section {
      /* order: 1; Opcional: Mover filtros debajo de los productos */
      display: none; /* Ocultar filtros en pantallas pequeñas */
    }

    .filter-menu {
      display: block; /* Mostrar el botón de menú en móviles */
    }

    .menu-overlay.active {
      left: 0;
    }
  
    .product-section {
      order: 2; /* Opcional: Asegurarse de que los productos estén arriba */
    }
  }
  
  @media (max-width: 480px) {
    .title-section {
      font-size: 18px; /* Reducir tamaño del texto del título */
      padding: 8px 0;
    }
  
    .filter-section,
    .search-section,
    .product-list-section {
      padding: 10px; /* Reducir el relleno para pantallas muy pequeñas */
      font-size: 14px; /* Ajustar el tamaño del texto */
    }
  
    input[type="text"] {
      width: 100%; /* Asegurarse de que el campo de búsqueda ocupe todo el espacio */
      padding: 8px;
      font-size: 14px;
    }
  }